/* Footer CSS  */

    .footer-modern .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        transition: 0.3s;
    }

    #footerCarousel .carousel-item img {
        height: 350px;
        width: 100%;
        object-fit: contain;
        padding: 5px;
    }


    .footer-modern .social-icon.whatsapp {
        background: #25d366;
    }

    .footer-modern .social-icon.facebook {
        background: #3b5998;
    }

    .footer-modern .social-icon.instagram {
        background: #e1306c;
    }

    .footer-modern .social-icon:hover {
        transform: translateY(-3px);
        opacity: 0.85;
    }